.list_container {
  padding: 10px 20px;
}
.list_title {
  margin-bottom: 20px;
  margin-top: 20px;
}
.list_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.blue {
  color: rgb(46, 46, 230);
}
.red {
  color: rgb(224, 59, 59);
}
